<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
    <link href="/css/general.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Assign Instructor</h1>
<table>
    <thead>
    <tr>
        <th> Banner ID:</th>
        <th> Assign as Instructor:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2"> No Instructor Available</td>
    </tr>
    <tr th:each="u : ${users}">

        <td><span th:text="${u.bannerId}"> ID </span></td>
        <td>
            <form action="#" method=post th:action="@{/admin/assignInstructor}" th:object="${assignInstructor}">
                <input name="courseID" th:value="${course.courseID}" type="hidden"/><input name="bannerId"
                                                                                           th:value="${u.bannerId}"
                                                                                           type="hidden"/>
                <button name="action" type="submit">Assign</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/admin/courseCreationForm">Add Course</a>
</body>
</html>
