<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
    <link href="/css/general.css" rel="stylesheet" type="text/css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
<div th:replace="admin/adminheader :: header"></div>
<div class="bodycontainer">
    <h1>Course details submitted are:</h1>
    <p th:text="'Course id: ' + ${course.courseID}"/>
    <p th:text="'Course name:' + ${course.courseName}"/>
    <a href="/admin/courseCreationForm">Submit another course</a>
    <a href="/admin/adminDashboard">Return to dashboard</a>
</div>
</body>
</html>