<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/general.css">
<script type="text/javascript" src="/js/courseci-message.js"></script>
<title>Course</title>
</head>
<body>
<div th:replace="header :: header"></div>
<section>
<div class="container bodycontainer">
	<div class =row>
	<h1 style="margin-top:-10px;" ><span th:utext="${session.course.courseID}"></span> - <span th:utext="${session.course.courseName}"></span></h1> 
		<hr>
		<h5  class="usernameheader" style="float:left; color:black">Hello <span sec:authentication="name"></span> (<span th:utext="${session.role}"></span>)</h5>
	<div class="boxes">
		<div class="cidiv column1">
			<section>
				<div>
					<h2>Student Enrollment</h2>
					<form method="post" th:action="@{/uploadstudent}"
						enctype="multipart/form-data" th:object="${course}">
						<div class="form-group">
							<input type="file" name="file" accept=".csv" class="form-control-file">
						</div>
						<div>
							<span>Upload .csv file with header as BannerId, Lastname, FirstName, Email</span>
						</div>
						<button type="submit" class="btn btn-primary">Upload File</button>
					</form>
					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<th:block th:if="${sucessmessages ne null}">
						<button type="button" class="collapsible">View Success
							Records for csv upload</button>
						<div class="content">
							<th:block th:each="success : ${sucessmessages}">
								<p th:utext="${success}">${success}</p>
							</th:block>
						</div>
					</th:block>
					<th:block th:if="${errormessages ne null}">
						<button type="button" class="collapsible">View Error
							Records For csv upload</button>
						<div class="content">
							<th:block th:each="error : ${errormessages}">
								<p th:utext="${error}">${error}</p>
							</th:block>
						</div>
					</th:block>
				</div>
			</section>
		</div>
		<div class="cidiv column2">
			<section>
				<div>
					<h2>TA Enrollment</h2>
					<div>
						<form th:action="@{/findTA}" method="GET" class="form-horizontal">
							<input type="text" th:id="searchTA" th:name="searchTA"
								placeholder="Search With Banner Id"> <input
								type="submit" class="btn btn-info btn-sm" value="Search" />
						</form>
					</div>

					<th:block th:if="${TAEnrollmessages ne null}">
						<div>
							<strong><p th:text="${TAEnrollmessages}" style="float: none; margin: auto; margin-top: 50px;"></p></strong>
						</div>
					</th:block>

					<div style="overflow: auto; height: 370px;">


						<th:block th:if="${fetcherror ne null}">
							<p class="card_title"
								style="float: none; margin: auto; margin-top: 50px;"
								th:text="${fetcherror}"></p>
						</th:block>

						<th:block th:if="${userfetched ne null}">
							<th:block th:each="user : ${userfetched}">
								<div class="card" style="margin-top: 10px;">
									<form th:action="@{/enrollTA(bannerid=${user.bannerId})}"
										method="POST" class="form-horizontal">
										<p class="card_title" th:text="${user.bannerId}"></p>
										<span class="card_text" th:text="${user.firstName}"></span> <span
											class="card_text" th:text="${user.lastName}"></span>
										<p class="card_text" th:text="${user.email}"></p>
										<button class="btn btn-info btn-sm" onclick="submit()">Enroll</button>
									</form>

								</div>
							</th:block>
						</th:block>


					</div>

				</div>
			</section>
			
		</div>
	</div>

			
	</div>
	<div class="row">
					

						<div class="col-lg-12">
							<a th:href="@{/questionmanager}"
								class="btn btn-primary">Question Manager</a>
						

						</div>
					
				</div>
	</div>
	
</section>
</body>
</html>