<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/general.css">
<script type="text/javascript" src="/js/courseci-message.js"></script>
<title>CI_Course</title>
</head>
<body>
	<ul class="headerul">
		<div>
			<li class="headerli"><h2 th:utext="${session.course.courseID} "></h2></li>
		</div>
		<div>
			<li class="headerli"><h2>-</h2></li>
		</div>
		<div>
			<li class="headerli"><h2 th:utext="${session.course.courseName}"></h2></li>
		</div>
		<li style="float: right"><a href="/logout"><b>Logout</b></a></li>
	</ul>
	<div class="boxes">
		<div class="cidiv column1">
			<section>
				<div>
					<h2>Student Enrollment</h2>
					<form method="post" th:action="@{/uploadstudent}"
						enctype="multipart/form-data" th:object="${course}">
						<div class="form-group">
							<input type="file" name="file" class="form-control-file">
						</div>
						<!-- <div class="form-group">
							<input type="hidden" th:field="*{courseID}"
								value="{course.courseID}"></input> <input type="hidden"
								th:field="*{courseName}" value="{session.course.courseName}"></input>
						</div> -->
						<button type="submit" class="btn btn-primary">Upload File</button>
					</form>
					<p th:text="${message}" th:if="${message ne null}"
						class="alert alert-primary"></p>
					<th:block th:if="${sucessmessages ne null}">
						<button type="button" class="collapsible">View Success
							Records for csv upload</button>
						<div class="content">
							<th:block th:each="success : ${sucessmessages}">
								<p th:utext="${success}">${success}</p>
							</th:block>
						</div>
					</th:block>
					<th:block th:if="${errormessages ne null}">
						<button type="button" class="collapsible">View Error
							Records For csv upload</button>
						<div class="content">
							<th:block th:each="error : ${errormessages}">
								<p th:utext="${error}">${error}</p>
							</th:block>
						</div>
					</th:block>
				</div>
			</section>
		</div>
		<div class="cidiv column2">
			<section>
				<div>
					<h2>TA Enrollment</h2>
					<div>
						<form th:action="@{/findTA}" method="GET" class="form-horizontal">
							<input type="text" th:id="searchTA" th:name="searchTA"
								placeholder="Search With Banner Id"> <input
								type="submit" class="btn btn-info btn-sm" value="Search" />
						</form>
					</div>

					<th:block th:if="${TAEnrollmessages ne null}">
						<div>
							<strong><p th:text="${TAEnrollmessages}" style="float: none; margin: auto; margin-top: 50px;"></p></strong>
						</div>
					</th:block>

					<div style="overflow: auto; height: 370px;">


						<th:block th:if="${fetcherror ne null}">
							<p class="card_title"
								style="float: none; margin: auto; margin-top: 50px;"
								th:text="${fetcherror}"></p>
						</th:block>

						<th:block th:if="${userfetched ne null}">
							<th:block th:each="user : ${userfetched}">
								<div class="card" style="margin-top: 10px;">
									<form th:action="@{/enrollTA(bannerid=${user.bannerId})}"
										method="POST" class="form-horizontal">
										<p class="card_title" th:text="${user.bannerId}"></p>
										<span class="card_text" th:text="${user.firstName}"></span> <span
											class="card_text" th:text="${user.lastName}"></span>
										<p class="card_text" th:text="${user.email}"></p>
										<button class="btn btn-info btn-sm" onclick="submit()">Enroll</button>
									</form>

								</div>
							</th:block>
						</th:block>


					</div>

				</div>
			</section>
		</div>
	</div>
</body>
</html>