<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/general.css">
<script type="text/javascript" src="/js/courseci-message.js"></script>
<title>Course-Student</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="bodycontainer">

	<h1 style="margin-top:-10px;" ><span th:utext="${session.course.courseID}"></span> - <span th:utext="${session.course.courseName}"></span></h1> 
		<hr>
		<h5  class="usernameheader" style="float:left; color:black">Hello <span sec:authentication="name"></span> (<span th:utext="${session.role}"></span>)</h5>
	
		
		<div class="coursedisplay" >
		
			<h2 th:utext="${session.course.courseID} "></h2>
		
			<h2 th:utext="${session.course.courseName}"></h2>
		
		</div>
	
</div>
</body>
</html>