<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="favicon.ico" rel="icon"/>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
    <link href="/css/general.css" rel="stylesheet" type="text/css">
    <title>Course List</title>

<body>
<div th:replace="header :: header"></div>
<div class="bodycontainer">
    <h1 style="margin-top:-10px;">My Courses</h1>
    <hr>
    <h5 class="usernameheader" style="float:left; color:black ; margin-bottom:40px;">Hello <span
            sec:authentication="name"></span></h5>
    <div style="margin-top:10px" th:if="${courses ne null and !courses.empty}">
        <table class="table table-bordered table-striped table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course: ${courses}">
                <td th:text="${course.courseID}"></td>
                <td th:text="${course.courseName}"></td>
                <td><a th:href="@{'/mycourse/' + ${course.courseID}}" title='${course.courseName}'>
                    <button class="btn btn-primary" type="submit">Go To Course</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="nocoursemessage ne null">
        <div class="table-responsive"><p th:text=${nocoursemessage}></p></div>
    </div>

</div>
</body>
</html>