<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <script type="text/javascript" src="/js/courseci-message.js"></script>
    <title>Course-Survey</title>
</head>
<body>
<div th:replace="header :: header"></div>
<div class="bodycontainer">

    <h1 style="margin-top: -10px;">
        <span th:utext="${session.course.courseID}"></span> - <span
            th:utext="${session.course.courseName}"></span>
    </h1>
    <hr>
    <h5 class="usernameheader" style="float: left; color: black">
        Hello <span sec:authentication="name"></span> (<span
            th:utext="${session.role}"></span>)
    </h5>
    <br> <br>

    <div th:if="${errormessage ne null}" class="alert alert-danger alert-dismissible">
        <strong>Sorry! </strong> <span th:text='${errormessage}'></span>
    </div>


    <div th:if="${published eq null}">
        <h2>Fill Survey</h2>
        <form action="#" th:action="@{/responsepage/submit}" th:object="${surveyQuestions}" method="post">
            <input type="hidden" th:field="*{user.bannerId}" th:value="${surveyQuestions.user.bannerId}">
            <input type="hidden" th:field="*{survey.course.courseID}" th:value="${surveyQuestions.survey.course.courseID}">
            <table class="table table-bordered table-striped table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>Question</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="surveyquestion,i: *{surveyResponse}">
                    <input type="hidden" th:field="*{surveyResponse[__${i.index}__].surveyQuestion.questionDetail.questionId}"
                    th:value="${surveyquestion.surveyQuestion.questionDetail.questionId}">
                    <input type="hidden" th:field="*{surveyResponse[__${i.index}__].surveyQuestion.surveyQuestionId}"
                           th:value="${surveyquestion.surveyQuestion.surveyQuestionId}">

                    <td th:text="${surveyquestion.surveyQuestion.questionDetail.questionText}"></td>
                    <td>
                        <div th:if="${surveyquestion.surveyQuestion.questionDetail.questionType.toString() == 'NUMERIC'}">
                            <input type="number" th:field="*{surveyResponse[__${i.index}__].response}" required>
                        </div>

                        <div th:if="${surveyquestion.surveyQuestion.questionDetail.questionType.toString() == 'FREETEXT'}">
                            <textarea  th:field="*{surveyResponse[__${i.index}__].response}" maxlength="500" required/>
                        </div>

                        <div th:if="${surveyquestion.surveyQuestion.questionDetail.questionType.toString() == 'MULTIPLECHOICEONE'}">
                            <table>
                                <tbody>
                                <tr th:each="option:${surveyquestion.surveyQuestion.questionDetail.optionList}">
                                    <td><input type="radio"
                                               th:value="${option.optionText}"
                                                th:field="*{surveyResponse[__${i.index}__].response}"
                                                th:text="${option.optionText}" required></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                        <div
                                th:if="${surveyquestion.surveyQuestion.questionDetail.questionType.toString() == 'MULTIPLECHOICEMANY'}">
                            <table>
                                <tbody>
                                <tr th:each="option:${surveyquestion.surveyQuestion.questionDetail.optionList}">
                                    <td><input type="checkbox"
                                               th:value="${option.optionText}"
                                               th:field="*{surveyResponse[__${i.index}__].response}"
                                               th:text="${option.optionText}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>

            <button type="submit" th:value="Save" class="btn btn-primary">Submit</button>

        </form>
    </div>

</div>
</body>
</html>
