<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
</head>
<body>
		<h1>Forgot Password Form</h1>
	<br/>	
   	<div th:if="${message}">
	<h3 th:text="${message}"></h3>
	<br/>
	</div>
    	<form th:action="@{/forgotpassword}"  method="post">
	    	<p>BannerID : <input type="text" name="username"/> </p>
        	<p>
        	<input type="submit" value="Submit" /> 
        	</p>
    	</form>
    <a th:href="@{/login}">Click here to log in!</a>
    	

</body>
</html>