<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

 

<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    rel="stylesheet" />

 

<link rel="stylesheet" type="text/css" href="/css/general.css">
</head>
<body>
    <div th:replace="header :: header"></div>
    <div class="bodycontainer">
        
        <div style ="float:right">
            <div sec:authorize="isAuthenticated()">
                <div th:inline="text" class="float-left">
                    <b>you have logged with the user:
                        [[${#httpServletRequest.remoteUser}]]</b>
                </div>
                <br>
            </div>
        </div>
        <div class="middle-box text-center ">

 

            <br>
            <div class="d-inline-flex p-2">
                <h1>Welcome to Group 12 Tool. </h1>
                <p>For managing all your courses as
                    instructor,TA and Student.</p>
            </div>

 

 

        </div>
    </div>

 

</body>
</html>