<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Login Page</title>
    <link
            href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            rel="stylesheet"/>
</head>
<body>
<div class="middle-box text-center loginscreen animated fadeInDown">

    <br/>


    <div class="container">
        <h1>Login</h1>
        <br/>
        <form action="#" autocomplete="off" class="m-t col-md-4 col-md-offset-4"
              data-toggle="validator" method="post" role="form"
              th:action="@{/login}">

            <div class="form-group row">
                <div class="form-group input-group has-feedback">
						<span class="input-group-addon"> 
						<span class="glyphicon glyphicon-user"></span>
						</span> <input class="form-control" name="username" placeholder="Banner ID"
                                       required type="text"/> <span
                        aria-hidden="true" class="glyphicon form-control-feedback"></span>
                </div>
            </div>

            <div class="form-group row">

                <div class="form-group input-group has-feedback">
						<span class="input-group-addon"> <span
                                class="glyphicon glyphicon-lock"></span>
						</span> <input class="form-control" name="password" placeholder="Password"
                                       required type="password"/> <span
                        aria-hidden="true" class="glyphicon form-control-feedback"></span>
                </div>
            </div>
            <br/>

            <div class="validation-message alert alert-danger"
                 role="alert" th:if="${param.error}">
                 Banner ID/Password is not valid.
                <h1 th:text="${error}">

                </h1>
            </div>

            <div class="validation-message alert alert-danger"
                 role="alert" th:if="${param.logout}">You
                logged out from this tool
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>

                <button class="btn btn-secondary " type="reset">Cancel</button>
            </div>
            <br/>
            <div>
                <a style="margin-right: 90px" th:href="@{/signup}">New user?
                    Sign Up</a> <a th:href="@{/forgotpassword}"> Forgot Password?</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
