<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="ISO-8859-1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet">
    <link href="/css/general.css" rel="stylesheet" type="text/css">
    <script src="/js/courseci-message.js" type="text/javascript"></script>
    <title>Survey Algorithm</title>
</head>
<body>
<div th:replace="header :: header">
    <section>
        <div class="bodycontainer">
            <h1>Algorithm is executed:</h1>
        </div>
    </section>
</div>
</body>
</html>