<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">  
<head>  
	<title>Signup page</title>
</head>  
<body>
	<h1>SignUp Form</h1>
	<br/>
	<div th:if="${message}">
	    <h3 th:text="${message}"></h3>
	    <br/>
	</div>
	<form th:action="@{/signup}" method="post">
	
	    <p>BannerID : <input type="text" name="username"/> </p>
	    <p>Password: <input type="password" name="password"/> </p>
	    <p>Password (Confirmation): <input type="password" name="passwordConfirmation"/> </p>
	    <p>First Name : <input type="text" name="firstName"/> </p>
	    <p>Last Name : <input type="text" name="lastName"/> </p>
	    <p>Email : <input type="text" name="email"/> </p>
	    <p><input type="submit" value="Create Account"/></p>
	    <input type="reset" value="Reset" />
	</form>
	<br/>
	<a th:href="@{/login}">Click here to log in!</a>
</body>  
</html>