<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/general.css">
<script type="text/javascript" src="/js/courseci-message.js"></script>
<title>QuestionManager</title>
<script>
function addOption() {
	alert("----");
  var div = document.createElement("div");
  div.className = 'row';
  var div1 = document.createElement("div");
  div1.className = 'col-lg-6';
  div1.innerHTML = "<label for='displaytext-1'>Display Text:</label> <input type='text' class='form-control' id='optiontext-1' name='optiontext-1' placeholder='Enter Option Display text' th:field='*{optionList[__${itemStat.index}__].optionText}' required>";
  alert("here");
  var div2 = document.createElement("div");
  div2.className = 'col-lg-6';
  div2.innerHTML = "<label for='stored-1'>Stored As:</label> <input type='text' class='form-control' id='optionvalue-1' name='optionvalue-1' placeholder='stored as' th:field='*{optionList[__${itemStat.index}__].optionValue}' required >";
  alert("here2");
  div.appendChild(div1);
  div.appendChild(div2);
  alert("here3");
  document.getElementById("optionlist").appendChild(div);
}
</script>
<style>
h1 {
	text-align: center;
}
</style>
</head>
<body>

	<div th:replace="header :: header"></div>
	<br>
	<div class="container">
		<!-- container starts -->

		<!-- Multiple choice– choose one Form Start  th:if="${isMultipleOne} == 'YES'" -->
		<div class="container">

			<div class="row">
				<h4>Answers</h4>
			</div>
			<hr>
			<form th:action="@{/questionmanager/question/multiplechoice}"
			th:object="${question}" method="post">
				<!-- option start -->
				<input type="hidden" class="form-control" id="question-title" name="question-title"
							 th:field="*{questionTitle}" value = "${questionTitle}">
				<input type="hidden" class="form-control" id="question-text" name="question-text"
							 th:field="*{questionText}"  value = "${questionText}">
				<input type="hidden" class="form-control" id="question-type" name="question-type"
							 th:field="*{questionType}"  value = "${questionType}">
				<div id="optionlist" th:each="option, itemStat : *{optionList}">
				<!-- <div th:each="option : ${question.optionList}"> -->
					<div class="row">
						<div class="col-lg-6">
							<label for="displaytext-1">Display Text:</label> <input
								type="text" class="form-control" id="optiontext-1"  
								name="optiontext-1" placeholder="Enter Option Display text" th:field="*{optionList[__${itemStat.index}__].optionText}" required>
						</div>
						<div class="col-lg-6">
							<label for="stored-1">Stored As:</label> <input type="text"
								class="form-control" id="optionvalue-1" name="optionvalue-1"
								placeholder="stored as" th:field="*{optionList[__${itemStat.index}__].optionValue}" required value = "${option.optionValue}">
						</div>
				
						<hr>
					</div>
				</div>
				
				
					
				<!-- option start -->
				<hr>
				<a href="questionmanager/question/multiplechoice"
					class="btn btn-primary" style="width: 15%; color: white;">Return
					Home</a>

				<button type="submit" class="btn btn-primary" style="width: 15%;">Next</button>
			</form>

			<hr>
			<button onclick="addOption()"
					class="btn btn-primary" style="width: 15%; color: white;">Add More Option</button>
			<hr>
			<!-- Confirm Multiple One Form Start th:if="${isMultipleOneFixed} == 'YES'" -->
			<div class="container">
				<form>
					<div class="row">
						<h4>Displaying Multiple Choice – Choose One questions looks
							like this:</h4>
					</div>
					<hr>
					<div class="row">
						<div class="col-8">
							<p>How many Credit hours are you attempting this term?</p>
						</div>
						<div class="col-4">
							<select class="custom-select" id="question type"
								name="question type">
								<option value="1">Numeric</option>
								<option value="2">Multiple choice – choose one</option>
								<option value="3">Multiple choice – choose multiple</option>
								<option value="4">Free text</option>
							</select>
						</div>
					</div>
					<hr>
					<a href="/questionmanager"
						class="btn btn-primary" style="width: 15%; color: white;">Return
						Home</a>

					<button type="submit" class="btn btn-primary" style="width: 15%;">Next</button>

				</form>

			</div>
			<!-- Confirm Multiple One Form End -->
		</div>
		<!-- Multiple choice–choose one Form End -->


	</div>
</body>
</html>