<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/general.css">
<script type="text/javascript" src="/js/courseci-message.js"></script>
<title>QuestionManager</title>
<style>
h1 {
    text-align: center;
}
</style>
</head>
<body>

	<div th:replace="header :: header"></div>
	<br>
	<div class="container">
	<div class="row">
	<h1>Question Manager Page</h1>
	</div>
	<hr>
	<div class="row justify-content-center">
	<div class="col-3">
	
	<a class="btn btn-primary" th:href="@{/questionmanager/question}">Create Question</a>
	
	</div>
	<div class="col-3">
	
	<form action="#" th:action="@{/questionmanager}" th:object="${questionList}" method=post>
            <input type="hidden" th:value="${questionList}" name="questionList"/><button type="submit" name="action" value="sortbytitle">Sort by Title</button>
            <input type="hidden" th:value="${questionList}" name="questionList"/><button type="submit" name="action" value="sortbydate">Sort by Date</button>
    </form>
    <table>
    	<thead>
        	<tr>
            	<th> Question Title: </th>
            	<th> Question Text: </th>
            	<th> Date created: </th>
            	
        	</tr>
    	</thead>
      <tbody>
    	<tr th:if="${questionList.empty}">
            <td colspan="2"> No Courses Available </td>
        </tr>
        <tr th:each="ques : ${questionList}">
            <td><span th:text="${ques.questionTitle}"> Title </span></td>
            <td><span th:text="${ques.questionText}"> Text </span></td>
            <td><span th:text="${ques.date}"> Date </span></td>
            
            <td>
            <form onSubmit = "return confirm('Confirm Delete?')" action="#" th:action="@{/questionmanager}" th:object="${questionList}" method=post>
            <input type="hidden" th:value="${ques.questionTitle}" name="questionTitle"/><input type="hidden" th:value="${ques.questionText}" name="questionText"/><input type="hidden" th:value="${ques.date}" name="questionDate"/><button type="submit" name="action" value="remove">Remove</button>
            </form>
            </td>
        </tr>
      </tbody>
	</table>   
	
	</div>
	</div>
	</div>
	

	
</body>
</html>